
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 30px;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
}
#header,#center,#footer{
    width: 100%;
}

body{
    background-image: url(./image/bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 25.6rem;

}



// 头部样式
#header{
    width: 25rem;
    height: 17rem;
    #logo{
        margin: -3rem auto;
        margin-bottom: 2rem;
        width: 16rem;
        height: 3rem;
        img{
            display: block;
            width: 100%;
        }
    }
    #title{
        padding-top: 2.5rem;
        text-align: center;
        width: 100%;
        h2{
            color: #406fc9;
            font-size: 2rem;
        }
        p{
            color: #406fc9;
            font-size: 0.7rem;
        }
        #info{
            width: 15rem;
            height: 2rem;
            margin: 0 auto;
            margin-top: 1rem;
            div{
                height: 2rem;
                width: 50%;
                float: left;
                // padding-right: 1.4rem;
                text-align: center;
                border-right: 1px solid #000;
                span{
                    display: block;
                    font-size: 0.5rem;
                }
                span:first-child{
                    font-weight: 700;
                    font-size: 0.8rem;
                }
            }
            div:last-child{
                border-right: none;
            }
        }
    }
}

// 主体部分
#center{
    width: 25rem;
    padding: 0 2rem;
    box-sizing: border-box;
    height: 18rem;
    a{ 
        // iphpne5需要重新适配
        display: block;
        float: left;
        width: 7rem;
        height: 7rem;
        text-decoration: none;
        p{
            text-align: center;
            color: #fff;
        }
        img{
            display: block;
            height: 2.7rem;
            width: 2.7rem;
            margin-top: 1.5rem;
            margin-left: 2.1rem;
            margin-bottom: 0.3rem;
        }
    }
    div:first-child{
        margin-bottom: 1px;
    }
    div:nth-child(2){
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
    }
    div:nth-child(3){
        margin-bottom: 1px;
    }
    div:nth-child(5){
        margin: 0 1px;
    }
}

// 主办单位部分
#footer{
    position: relative;
    padding-bottom: 9rem;
    i{
        position: absolute;
        display: block;
        left: 8rem;
        top: 0.65rem;
        width: 1.3rem;
        height: 1px;
        background-color: #000;
    }
    i:nth-child(3){
        left: 16rem;
    }
    h4{
        text-align: center;
    }
    #content{
        margin-top: 1rem;
        padding-left: 3rem;
        div{
            float: left;
            margin-bottom: 0.7rem;
            span{
                display: block;
                color: #999;
                font-size: 0.7rem
            }
            span:last-child{
                font-weight: 400;
            }
        }
        div:nth-child(2){
            margin-left: 3rem;
        }
    }
}










// 适配




@media only screen and (min-width: 320px){
    body,html{
        font-size: 12.8px;
    }
}
@media only screen and (min-width: 360px){
    body,html{
        font-size: 14.4px;
    }
}
@media only screen and (min-width: 375px){
    body,html{
        font-size: 15px;
    }
}
@media only screen and (min-width: 390px){
    body,html{
        font-size: 15.6px;
    }
}
@media only screen and (min-width: 414px){
    body,html{
        font-size: 16.56px;
    }
}
@media only screen and (min-width: 480px){
    body,html{
        font-size: 19.2px;
    }
}
//平板 
@media only screen and (min-width: 768px){
    body,html{
        font-size: 30px;
    }
}

// 默认
@media only screen and (min-width: 980px){
    body,html{
        font-size: 36px;
    }
}

// pc
@media only screen and (min-width: 1200px){
    body,html{
        font-size: 40px;
    }
}

