* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "microsoft yahei";
  font-size: 0.8rem;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: #eee;
}
#header,
#center,
#footer {
  background-color: #fff;
  margin: 0 1rem;
}
h4 {
  font-weight: 700;
  margin-bottom: 0.3rem;
  color: #333;
}
p {
  line-height: 1.5rem;
  margin-bottom: 0.3rem;
  color: #969696;
}
#header {
  padding-top: 2.6rem;
}
#header #title {
  color: #223aee;
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.12rem;
}
#header #title:before {
  content: attr(text);
  position: absolute;
  z-index: 10;
  color: #42a4d3;
  -webkit-mask: linear-gradient(to left, #1c0370, transparent);
}
#header #content {
  padding: 0 1rem;
}
#header #content div {
  margin: 0.5rem 0;
}
#header #content div h4 {
  font-size: 0.8rem;
}
#header #content div p {
  margin: 0 0.8rem;
}
#header #content div p:nth-child(3) {
  margin-top: 0.5rem;
}
#center .tab {
  height: 2.7rem;
}
#center .tab div {
  width: 11.5rem;
  height: 100%;
  line-height: 2.7rem;
  float: left;
  text-align: center;
  color: #ffffff;
  background-color: #5779b0;
}
#center .tab .r_tab {
  background-color: #d2d2d2;
}
#center #host {
  padding: 1.3rem 1rem;
}
#center .morning > div > div,
#center .afternoon > div > div {
  margin-bottom: 1rem;
}
#center .morning > div > div:last-child,
#center .afternoon > div > div:last-child {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}
#center .morning > div:first-child,
#center .afternoon > div:first-child {
  padding-top: 1rem;
}
#center p,
#center h4 {
  padding: 0 1rem;
}
#center #host {
  padding-bottom: 15rem;
}
#center #host h4 {
  padding: 0;
}
#center #host #hostName,
#center #host #hostTitle {
  float: left;
}
#center #host #hostName span,
#center #host #hostTitle span {
  display: block;
  font-size: 0.65rem;
  color: #666;
}
@media only screen and (min-width: 320px) {
  body,
  html {
    font-size: 12.8px;
  }
}
@media only screen and (min-width: 360px) {
  body,
  html {
    font-size: 14.4px;
  }
  body #center #host #hostName,
  html #center #host #hostName,
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 375px) {
  body,
  html {
    font-size: 15px;
  }
  body #center #host #hostName,
  html #center #host #hostName,
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 390px) {
  body,
  html {
    font-size: 15.6px;
  }
  body #center #host #hostName,
  html #center #host #hostName,
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 414px) {
  body,
  html {
    font-size: 16.56px;
  }
  body #center #host #hostName,
  html #center #host #hostName,
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 480px) {
  body,
  html {
    font-size: 19.2px;
  }
  body #center #host #hostName,
  html #center #host #hostName,
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  body,
  html {
    font-size: 30px;
  }
  body #center #host #hostName,
  html #center #host #hostName,
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    margin-bottom: 0.5rem;
  }
  body #center #host #hostName span,
  html #center #host #hostName span,
  body #center #host #hostTitle span,
  html #center #host #hostTitle span {
    font-size: 20px;
  }
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    float: right;
  }
}
@media only screen and (min-width: 980px) {
  body,
  html {
    font-size: 36px;
  }
  body #center #host #hostName,
  html #center #host #hostName,
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    margin-bottom: 0.5rem;
  }
  body #center #host #hostName span,
  html #center #host #hostName span,
  body #center #host #hostTitle span,
  html #center #host #hostTitle span {
    font-size: 26px;
  }
  body #center #host #hostTitle,
  html #center #host #hostTitle {
    float: right;
  }
}
@media only screen and (min-width: 1200px) {
  body,
  html {
    font-size: 40px;
  }
}
