
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "microsoft yahei";
    font-size: 0.8rem;
}
html,body{
    // font-size: 24px;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background-color: #eee;
}

#header,#center,#footer{
    background-color: #fff;
    margin: 0 1rem;
}

h4{
    font-weight: 700;
    margin-bottom: 0.3rem;
    color: #333;
}

p{
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: #969696;
}


// 顶部样式
#header{
    padding-top: 2.6rem;
    // padding-bottom: 1rem;
    #title{
        color:#223aee;
        position: relative;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    #title:before{
        content: attr(text);
        position: absolute;
        z-index: 10;
        color: #42a4d3;
        -webkit-mask:linear-gradient(to left, #1c0370, transparent );
    }
    #content{
        padding: 0 1rem;
        div{
            margin: 0.5rem 0;
            h4{
                font-size: 0.8rem;
            }
            p{
                // color: #666;
                margin: 0 0.8rem;
            }
            p:nth-child(3){
                margin-top: 0.5rem;
            }
        }
    }
}


#center{
    // padding: 0 1rem;
    .tab{
        height: 2.7rem;
        div{
            width: 11.5rem;
            height: 100%;
            line-height: 2.7rem;
            float: left;
            text-align: center;
            color: #ffffff;
            background-color: #5779b0;
        }
        .r_tab{
            // float: right;
            background-color: #d2d2d2;
        }
    }
    #date26{
        .tab{
            .l_tab{
                background-color: #d2d2d2;
            }
            .r_tab{
                background-color: #5779b0;
            }
        }
    }
    #host{
        padding: 1.3rem 1rem;       
    }
    .morning>div>div,.afternoon>div>div{
        margin-bottom: 1rem;
    }
    .morning>div>div:last-child,.afternoon>div>div:last-child{
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
    }
    .morning>div:first-child,.afternoon>div:first-child{
        padding-top: 1rem;
    }
    p,h4{
        padding: 0 1rem;
    }
    #host{
        padding-bottom: 15rem;
        h4{
            padding: 0;
        }
        #hostName,#hostTitle{
            float: left;
            span{
                display: block;
                font-size: 0.65rem;
                color: #666;
            }
        }
    }
}






// 适配




@media only screen and (min-width: 320px){
    body,html{
        font-size: 12.8px;
    }
}
@media only screen and (min-width: 360px){
    body,html{
        font-size: 14.4px;
        #center{
            #host{
                #hostName,#hostTitle{
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 375px){
    body,html{
        font-size: 15px;
        #center{
            #host{
                #hostName,#hostTitle{
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 390px){
    body,html{
        font-size: 15.6px;
        #center{
            #host{
                #hostName,#hostTitle{
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 414px){
    body,html{
        font-size: 16.56px;
        #center{
            #host{
                #hostName,#hostTitle{
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 480px){
    body,html{
        font-size: 19.2px;
        #center{
            #host{
                #hostName,#hostTitle{
                    margin-bottom: 0.5rem;   
                }
            }
        }
    }
}
//平板 
@media only screen and (min-width: 768px){
    body,html{
        font-size: 30px;
        #center{
            #host{
                #hostName,#hostTitle{
                    margin-bottom: 0.5rem;   
                    span{
                        font-size: 20px;
                    }
                }
                #hostTitle{
                    float: right;
                }
            }
        }
    }
}

// 默认
@media only screen and (min-width: 980px){
    body,html{
        font-size: 36px;
        #center{
            #host{
                #hostName,#hostTitle{
                    margin-bottom: 0.5rem;   
                    span{
                        font-size: 26px;
                    }
                }
                #hostTitle{
                    float: right;
                }
            }
        }
    }
}

// pc
@media only screen and (min-width: 1200px){
    body,html{
        font-size: 40px;
    }
}