* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 30px;
  overflow: hidden;
  overflow-y: auto;
}
#header,
#center,
#footer {
  width: 25rem;
}
@media only screen and (max-width: 320px) {
  body,
  html {
    width: 320px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 321px) {
  body,
  html {
    width: 480px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 480px) {
  body,
  html {
    width: 480px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  body,
  html {
    width: 768px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 980px) {
  body,
  html {
    width: 980px;
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  body,
  html {
    width: 100%;
    font-size: 40px;
  }
}
